<div class="flex flex-col w-auto p-4 blur-box h-full">
    <p class="text-xl mb-2 text-black">Precipitation</p>
    <div *ngFor="let precipitation_chance of precipitation_probabilities; let i = index">
        <div class="flex flex-row justify-between items-center mx-2 my-2">
            <div class="flex items-center">
                <p class="text-xs text-black mr-2">{{days[i]}}</p>
                <img [src]="icons[i]" width="30" height="30" alt="Weather icon">
            </div>
            <p class="text-black text-xl font-bold">{{precipitation_chance}}%</p>
        </div>
        <div *ngIf="i + 1 < precipitation_probabilities.length" class="flex flex-grow h-px bg-black border-black rounded-md"></div>
    </div>
</div>