div.grocery-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--yellow-500);
    background-color: var(--surface-50);
    border-radius: 10px;
    margin-bottom: 1vh;
    padding: 1.3vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    width: 100%
}

.fill-space {
    flex: 1;
}

div.tags-container {
    display: flex;
    flex-direction: row;
}

div.tag {
    font-size: small;
    margin-right: 1vw;
    border-width: 2px;
    border-style: solid;
    border-radius: 2px;
    padding: 2px;
}

p.quantity {
    margin-left: 0.5vw;
    transform: translateY(-3px);
    color: gray;
    font-weight: 700;
}

p.date {
    color: gray;
    font-weight: 700;
}

div.Urgent {
    border-color: rgb(255, 70, 70);
    color: white;
    background-color: rgb(231, 40, 40);
}

div.Nonessential {
    border-color: rgb(188, 188, 27);
    color: rgb(0, 0, 0);
    background-color: rgb(248, 207, 23);
}

div.Meat {
    border-color: rgb(240, 75, 102);
    color: white;
    background-color: rgb(248, 113, 103);
}

div.Vegetable {
    border-color: rgb(53, 188, 53);
    color: white;
    background-color: rgb(23, 130, 53);
}

div.Fruit {
    border-color: rgb(241, 160, 9);
    color: white;
    background-color: rgb(255, 162, 0);
}

div.Spice {
    border-color: brown;
    color: white;
    background-color: rgb(97, 45, 45);
}

.grocery-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}